/*슬라이더 꾸미기*/
.slider {
	width: 950px;
	height: 450px;
	margin: 0px auto; /*100px auto에서 수정*/
}


.slick-slide {
  margin:50px 0px;
  text-align: center;}

  

.slick-slide img {
  width: 250px;
  height: 300px;
  display:block;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
}

h5{text-align: center; padding-top: 15px; width: 255px;}

.slick-prev:before,
.slick-next:before {
  content:'';
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.slick-active{
		transform:scale(1.1, 1.1);
}

.slick-current{
	position:relative;
	z-index:2;
	transform:scale(1.2, 1.2);
}

/*이동버튼 꾸미기*/
.slick-prev, .slick-next{
	width:27px;
	height:50px;
}
.slick-prev{
	background:url(../images/left.png) no-repeat;
	left:-90px;
}
.slick-prev:hover{
	background:url(../images/left_hover.png) no-repeat;
}
.slick-next{
	background:url(../images/right.png) no-repeat;
	right:-50px;
}
.slick-next:hover{
	background:url(../images/right_hover.png) no-repeat;
}

/*블릿버튼 꾸미기*/
.slick-dots li button:before{
	content:'';	
	width: 100px;
	
}
.slick-dots li button{
	width:10px;
	height:10px;
	padding:0;
	background:#89705d;
	border-radius:50%;
	opacity: 0.5;
}
.slick-dots li.slick-active button{
	background:#4b433d;
	opacity:1
}
	